[defaults]
inventory = inventory.yml
host_key_checking = False
ask_pass = True
# vault_password_file = .vault_pass (Commented out, user should create this file locally)

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True
