services:
  dockhand:
    image: fnsys/dockhand:{{ item.version }}
    container_name: dockhand
    restart: unless-stopped
    ports:
      - "3001:{{ item.port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockhand_data:/app/data
    networks:
      - {{ traefik_network_name }}
    labels:
{% for label in traefik_labels %}
      - "{{ label }}"
{% endfor %}

volumes:
  dockhand_data:

networks:
  {{ traefik_network_name }}:
    external: true
